.hg
bin
bin.snk
obj
*.suo
*.user
*.nupkg
nupkgs/
*.sln.docstates
_ReSharper.*
Mono/
*.sln.ide
*.rdb
*.aof
*.orig
RedisConfigs/*.dat
RedisQFork*.dat
StackExchange.Redis.*.zip
.idea/
.vs/
*.lock.json
packages/
StackExchange.Redis.Tests/*Config.json
