.hg
bin
bin.snk
obj
*.suo
*.user
*.nupkg
nupkgs/
*.sln.docstates
_ReSharper.*
Mono/
*.sln.ide
*.rdb
*.aof
*.orig
RedisConfigs/*.dat
RedisQFork*.dat
StackExchange.Redis.*.zip
.idea/
.vs/
.vscode/
*.lock.json
test-results*.xml
packages/
StackExchange.Redis.Tests/*Config.json
t8.shakespeare.txt
launchSettings.json
*.vsp
*.diagsession
TestResults/