<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <!--<add key="localNuget" value="c:\code\LocalNuget" />-->
    <!--<add key="MyGet" value="https://www.myget.org/F/stackoverflow/api/v3/index.json" />-->
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
